// Container
$container-width: 75em;
$header-height: 4.5em;
$mobile-container-width: 100%;
$body-bg: #eeeeee;
$module-bg: rgba(255,255,255,0.6);
$module-hover-bg: rgba(197,197,197,0.4);

// Other
$radius: 6px;

// Colors
$primary: #0088f5;
