[v-cloak] {
display: none;
}
/**
  * 1. Change the default font family in all browsers (opinionated).
  * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
  */
html{
-ms-text-size-adjust:100%;
/* 1 */
-webkit-text-size-adjust:100%;
/* 1 */
-webkit-tap-highlight-color:transparent;
/* 2 */
height:100%;
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body{
margin:0;
/* 1 */
font-size:14px;
font-family:"Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
display:block;
}
/**
 * Add the correct display in iOS 4-7.
 */
