[v-cloak] {
display: none;
}
/**
  * 1. Change the default font family in all browsers (opinionated).
  * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
  */
html{
-ms-text-size-adjust:100%;
/* 1 */
-webkit-text-size-adjust:100%;
/* 1 */
