@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v1wkhb');
  src:  url('../fonts/icomoon.eot?v1wkhb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v1wkhb') format('truetype'),
    url('../fonts/icomoon.woff?v1wkhb') format('woff'),
    url('../fonts/icomoon.svg?v1wkhb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Summary:before {
  content: "\e945";
}
.icon-access:before {
  content: "\e946";
}
.icon-acetaldehyde:before {
  content: "\e947";
}
.icon-ethanol:before {
  content: "\e948";
}
.icon-scientific-research:before {
  content: "\e94b";
}
.icon-find:before {
  content: "\e94c";
}
.icon-proposal:before {
  content: "\e94d";
}
.icon-Circle-of-friends:before {
  content: "\e94e";
}
.icon-Testing:before {
  content: "\e94f";
}
.icon-crown-2:before {
  content: "\e915";
}
.icon-crown:before {
  content: "\e933";
}
.icon-pen:before {
  content: "\e900";
}
.icon-home-3:before {
  content: "\e90b";
}
.icon-home-2:before {
  content: "\e90c";
}
.icon-varieties:before {
  content: "\e90d";
}
.icon-my-2:before {
  content: "\e90e";
}
.icon-my:before {
  content: "\e90f";
}
.icon-dog-2:before {
  content: "\e910";
}
.icon-dog-3:before {
  content: "\e911";
}
.icon-report-2:before {
  content: "\e912";
}
.icon-report-4:before {
  content: "\e913";
}
.icon-report-3:before {
  content: "\e914";
}
.icon-praise:before {
  content: "\e907";
}
.icon-master:before {
  content: "\e918";
}
.icon-gender:before {
  content: "\e919";
}
.icon-age:before {
  content: "\e91b";
}
.icon-address:before {
  content: "\e91d";
}
.icon-explain:before {
  content: "\e91e";
}
.icon-news:before {
  content: "\e931";
}
.icon-height:before {
  content: "\e935";
}
.icon-weight:before {
  content: "\e93a";
}
.icon-Age-2:before {
  content: "\e940";
}
.icon-score-2:before {
  content: "\e941";
}
.icon-Arrow:before {
  content: "\e942";
}
.icon-Presentation-3:before {
  content: "\e943";
}
.icon-position-2:before {
  content: "\e944";
}
.icon-home:before {
  content: "\e601";
}
.icon-list:before {
  content: "\e602";
}
.icon-ask:before {
  content: "\e603";
}
.icon-search:before {
  content: "\e604";
}
.icon-more:before {
  content: "\e605";
}
.icon-agree:before {
  content: "\e606";
}
.icon-disagree:before {
  content: "\e607";
}
.icon-reply:before {
  content: "\e608";
}
.icon-draft:before {
  content: "\e609";
}
.icon-check:before {
  content: "\e60a";
}
.icon-invite:before {
  content: "\e60b";
}
.icon-inviteask:before {
  content: "\e60c";
}
.icon-loading:before {
  content: "\e60d";
}
.icon-share:before {
  content: "\e60e";
}
.icon-comment:before {
  content: "\e60f";
}
.icon-gene:before {
  content: "\e610";
}
.icon-pic:before {
  content: "\e611";
}
.icon-insert:before {
  content: "\e612";
}
.icon-user:before {
  content: "\e613";
}
.icon-inbox:before {
  content: "\e614";
}
.icon-setting:before {
  content: "\e615";
}
.icon-logout:before {
  content: "\e616";
}
.icon-login:before {
  content: "\e617";
}
.icon-weibo:before {
  content: "\e618";
}
.icon-qq:before {
  content: "\e619";
}
.icon-signup:before {
  content: "\e61a";
}
.icon-users:before {
  content: "\e61b";
}
.icon-topic:before {
  content: "\e61c";
}
.icon-location:before {
  content: "\e61d";
}
.icon-job:before {
  content: "\e61e";
}
.icon-favor:before {
  content: "\e620";
}
.icon-down:before {
  content: "\e621";
}
.icon-txweibo:before {
  content: "\e622";
}
.icon-bestbg:before {
  content: "\e623";
}
.icon-best:before {
  content: "\e624";
}
.icon-flag:before {
  content: "\e625";
}
.icon-i:before {
  content: "\e626";
}
.icon-bubble:before {
  content: "\e627";
}
.icon-wechat:before {
  content: "\e628";
}
.icon-lock:before {
  content: "\e629";
}
.icon-triangle:before {
  content: "\e62a";
}
.icon-bell:before {
  content: "\e62b";
}
.icon-fold:before {
  content: "\e62c";
}
.icon-thank:before {
  content: "\e62d";
}
.icon-report:before {
  content: "\e62e";
}
.icon-qzone:before {
  content: "\e62f";
}
.icon-at:before {
  content: "\e630";
}
.icon-attach:before {
  content: "\e631";
}
.icon-trash:before {
  content: "\e632";
}
.icon-mytopic:before {
  content: "\e633";
}
.icon-up:before {
  content: "\e634";
}
.icon-plus:before {
  content: "\e635";
}
.icon-followed:before {
  content: "\e636";
}
.icon-score:before {
  content: "\e637";
}
.icon-prestige:before {
  content: "\e638";
}
.icon-v:before {
  content: "\e639";
}
.icon-bold:before {
  content: "\e63a";
}
.icon-italic:before {
  content: "\e63b";
}
.icon-underline:before {
  content: "\e63c";
}
.icon-ul:before {
  content: "\e63d";
}
.icon-ol:before {
  content: "\e63e";
}
.icon-image:before {
  content: "\e63f";
}
.icon-video:before {
  content: "\e640";
}
.icon-quote:before {
  content: "\e641";
}
.icon-code:before {
  content: "\e642";
}
.icon-preview:before {
  content: "\e643";
}
.icon-help:before {
  content: "\e644";
}
.icon-h:before {
  content: "\e645";
}
.icon-undo:before {
  content: "\e646";
}
.icon-redo:before {
  content: "\e647";
}
.icon-phone:before {
  content: "\e648";
}
.icon-file:before {
  content: "\e649";
}
.icon-verify:before {
  content: "\e64a";
}
.icon-date:before {
  content: "\e64b";
}
.icon-log:before {
  content: "\e64c";
}
.icon-forbid:before {
  content: "\e64d";
}
.icon-transfer:before {
  content: "\e64e";
}
.icon-reader:before {
  content: "\e64f";
}
.icon-unlock:before {
  content: "\e650";
}
.icon-right:before {
  content: "\e651";
}
.icon-left:before {
  content: "\e652";
}
.icon-bar:before {
  content: "\e653";
}
.icon-download:before {
  content: "\e654";
}
.icon-bulb:before {
  content: "\e655";
}
.icon-cart:before {
  content: "\e656";
}
.icon-google:before {
  content: "\e657";
}
.icon-facebook:before {
  content: "\e658";
}
.icon-twitter:before {
  content: "\e659";
}
.icon-count:before {
  content: "\e65a";
}
.icon-order:before {
  content: "\e65b";
}
.icon-edit:before {
  content: "\e65c";
}
.icon-full:before {
  content: "\e65d";
}
.icon-strike:before {
  content: "\e65e";
}
.icon-format:before {
  content: "\e65f";
}
.icon-good:before {
  content: "\e660";
}
.icon-bad:before {
  content: "\e661";
}
.icon-23:before {
  content: "\e662";
}
.icon-hear:before {
  content: "\e663";
}
.icon-ear:before {
  content: "\e664";
}
.icon-run:before {
  content: "\e665";
}
.icon-drugs:before {
  content: "\e666";
}
.icon-contact:before {
  content: "\e668";
}
.icon-about:before {
  content: "\e669";
}
.icon-protect:before {
  content: "\e66a";
}
.icon-activity:before {
  content: "\e66b";
}
.icon-man:before {
  content: "\e66c";
}
.icon-delete:before {
  content: "\e66e";
}
.icon-road:before {
  content: "\e66f";
}
.icon-walk:before {
  content: "\e670";
}
.icon-climbing:before {
  content: "\e671";
}
.icon-lifting:before {
  content: "\e672";
}
.icon-track:before {
  content: "\e673";
}
.icon-tip:before {
  content: "\e674";
}
.icon-milk:before {
  content: "\e675";
}
.icon-chicken:before {
  content: "\e676";
}
.icon-cake:before {
  content: "\e677";
}
.icon-palm:before {
  content: "\e678";
}
.icon-fish:before {
  content: "\e679";
}
.icon-pea:before {
  content: "\e67a";
}
.icon-next:before {
  content: "\e67b";
}
.icon-tomato:before {
  content: "\e67c";
}
.icon-mashroom:before {
  content: "\e67d";
}
.icon-shop:before {
  content: "\e67e";
}
.icon-link:before {
  content: "\e67f";
}
.icon-cuvette:before {
  content: "\e680";
}
.icon-box:before {
  content: "\e681";
}
.icon-result:before {
  content: "\e682";
}
.icon-watch:before {
  content: "\e683";
}
.icon-service:before {
  content: "\e684";
}
.icon-finger:before {
  content: "\e685";
}
.icon-beat:before {
  content: "\e688";
}
.icon-monkey:before {
  content: "\e689";
}
.icon-drug:before {
  content: "\e68a";
}
.icon-absorb:before {
  content: "\e68b";
}
.icon-bind:before {
  content: "\e800";
}
.icon-cup:before {
  content: "\e901";
}
.icon-Star:before {
  content: "\e902";
}
.icon-position:before {
  content: "\e903";
}
.icon-Age:before {
  content: "\e904";
}
.icon-dog:before {
  content: "\e905";
}
.icon-comment-2:before {
  content: "\e906";
}
.icon-delete-2:before {
  content: "\e908";
}
.icon-list-2:before {
  content: "\e909";
}
.icon-weibo-2:before {
  content: "\e90a";
}
.icon-upward:before {
  content: "\e916";
}
.icon-tree:before {
  content: "\e917";
}
.icon-eye:before {
  content: "\e91a";
}
.icon-research:before {
  content: "\e91c";
}
.icon-flask:before {
  content: "\e91f";
}
.icon-lab:before {
  content: "\e920";
}
.icon-overview:before {
  content: "\e921";
}
.icon-tubes:before {
  content: "\e922";
}
.icon-ancestry:before {
  content: "\e923";
}
.icon-hot:before {
  content: "\e924";
}
.icon-new:before {
  content: "\e925";
}
.icon-sleep:before {
  content: "\e926";
}
.icon-batch:before {
  content: "\e927";
}
.icon-ad-sport:before {
  content: "\e928";
}
.icon-plate:before {
  content: "\e929";
}
.icon-probe:before {
  content: "\e92a";
}
.icon-sample:before {
  content: "\e92b";
}
.icon-bean:before {
  content: "\e92c";
}
.icon-cake2:before {
  content: "\e92d";
}
.icon-calendar:before {
  content: "\e92e";
}
.icon-egg:before {
  content: "\e92f";
}
.icon-muscle:before {
  content: "\e930";
}
.icon-time:before {
  content: "\e932";
}
.icon-community:before {
  content: "\e934";
}
.icon-relation:before {
  content: "\e936";
}
.icon-research-2:before {
  content: "\e937";
}
.icon-research-3:before {
  content: "\e938";
}
.icon-wechat-2:before {
  content: "\e939";
}
.icon-down-2:before {
  content: "\e93b";
}
.icon-right-2:before {
  content: "\e93c";
}
.icon-up-2:before {
  content: "\e93d";
}
.icon-man-2:before {
  content: "\e93e";
}
.icon-redbag:before {
  content: "\e93f";
}
.icon-gene-2:before {
  content: "\e949";
}
.icon-research-4:before {
  content: "\e94a";
}

